<mat-sidenav-container class="sidenav-container mat-elevation-z2">
  <mat-sidenav #drawer class="sidenav mat-elevation-z3" fixedInViewport="true" fixedBottomGap="0"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-icon matListIcon>home</mat-icon> Menú
    </mat-toolbar>

    <mat-nav-list>
      <mat-divider></mat-divider>
      <h3 matSubheader>Documentos internos:</h3>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos elaborados'; 
        showComponent('documentsElaborated')" [ngClass]="{'active' : listDocumentsElaborated==true}">
        <mat-icon matListIcon>assignment</mat-icon>
        <span class="font-italic">Elaborados</span>
      </a>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos enviados'; 
        showComponent('documentsSent')" [ngClass]="{'active' : listDocumentsSent==true}">
        <mat-icon matListIcon>send</mat-icon>
        <span class="font-italic">Enviados</span>
      </a>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Catálogos de trabajadores'; 
      showComponent('workers')" [ngClass]="{'active' : listWorkers==true}">
          <mat-icon matListIcon>contacts</mat-icon>
          <span>Trabajadores</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Documentos externos:</h3>

      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos de entrada'; 
      showComponent('documentsInbox')" [ngClass]="{'active' : listDocumentsInbox==true}">
        <mat-icon matListIcon>inbox</mat-icon>
        <span class="font-italic">Entrada</span>
      </a>

      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos recibidos'; 
      showComponent('documentsReceived')" [ngClass]="{'active' : listDocumentsReceived==true}">
        <mat-icon matListIcon>move_to_inbox</mat-icon>
        <span class="font-italic">Recibidos</span>
      </a>

      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos notificados'; 
      showComponent('documentsNotifiedView')" [ngClass]="{'active' : listDocumentsNotified==true}">
        <mat-icon matListIcon>notifications_none</mat-icon>
        <span class="font-italic">Notificados</span>
      </a>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos ejecutados'; 
      showComponent('documentsExecuted')" [ngClass]="{'active' : listDocumentsExecuted==true}">
        <mat-icon matListIcon>how_to_reg</mat-icon>
        <span class="font-italic">Ejecutados</span>
      </a>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Documentos finalizados'; 
      showComponent('documentsFinished')" [ngClass]="{'active' : listDocumentsFinished==true}">
        <mat-icon matListIcon>outlined_flag</mat-icon>
        <span class="font-italic">Finalizados</span>
      </a>
      <mat-divider></mat-divider>
      <!-- <h3 matSubheader>Llamadas:</h3>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Llamadas recibidas'; 
      showComponent('callsReceived')" [ngClass]="{'active' : listCalls==true}">
        <mat-icon matListIcon>call</mat-icon>
        <span class="font-italic">Recibidas</span>
      </a>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Contactos de llamadas'; 
      showComponent('callsContacts')" [ngClass]="{'active' : listContacts==true}">
        <mat-icon matListIcon>contact_phone</mat-icon>
        <span class="font-italic">Contactos</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Eventos:</h3>
      <a mat-list-item class="text-secondary" (click)="nombreModulo='Eventos registrados'; 
      showComponent('eventsRegistered')" [ngClass]="{'active' : listEvents==true}">
        <mat-icon matListIcon>event</mat-icon>
        <span class="font-italic">Registrados</span>
      </a> -->
      <app-nav-logout></app-nav-logout>
    </mat-nav-list>




  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z3">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SIGESE</span>

      <!-- LOGO -->
      <span class="example-spacer"></span>
      <app-nav-sup-cen></app-nav-sup-cen>
      <span class="example-spacer"></span>
      <!-- HERRAMIENTAS -->

      <app-nav-sup-der></app-nav-sup-der>

    </mat-toolbar>
    <!-- BREADCRUMB -->
    <app-nav-under [nameModule]="nombreModulo" [nameLevel]="nombreNivel"></app-nav-under>
    <!-- Add Content Here -->
    <div class="container">

      <app-call-list *ngIf="listCalls"></app-call-list>
      <app-contact-list *ngIf="listContacts"></app-contact-list>
      <app-event-list *ngIf="listEvents"></app-event-list>
      <app-document-list-inbox *ngIf="listDocumentsInbox"></app-document-list-inbox>
      <app-document-list-received *ngIf="listDocumentsReceived"></app-document-list-received>
      <app-document-list-elaborated *ngIf="listDocumentsElaborated"></app-document-list-elaborated>
      <app-document-list-notified *ngIf="listDocumentsNotified"></app-document-list-notified>
      <app-document-list-executed *ngIf="listDocumentsExecuted"></app-document-list-executed>
      <app-document-list-sent *ngIf="listDocumentsSent"></app-document-list-sent>
      <app-document-list-finished *ngIf="listDocumentsFinished"></app-document-list-finished>
      <app-worker-list *ngIf="listWorkers"></app-worker-list>
      <!-- <h3>Raised Buttons</h3>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div>

      <p>active module listDocumentsReceived: {{ listDocumentsReceived }} </p>
      <p>active module listDocumentsElaborated: {{ listDocumentsElaborated }} </p>
      <p>active module listDocumentsNotified: {{ listDocumentsNotified }} </p>
      <p>active module listDocumentsExecuted: {{ listDocumentsExecuted }} </p>
      <p>active module listCalls: {{ listCalls }} </p>
      <p>active module listContacts: {{ listContacts }} </p> 
      <p>active module listEvents: {{ listEvents }} </p>  -->



    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
