<!-- ERROR HTTP -->
<mat-card class="example-card" class="mat-elevation-z2">

  <mat-card-header>
    <mat-card-title class="text-secondary">
      <mat-icon> warning </mat-icon>
      <span class="aligned-with-icon">Error HTTP </span>

    </mat-card-title>
    <mat-card-subtitle> Hubo un error de internet. Disculpe las molestias, estamos trabajando en ello.
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon aria-label="Cerrar la ventana modal">close</mat-icon>
      </button>

    </mat-card-subtitle>
  </mat-card-header>

</mat-card>
