<mat-toolbar color="primary" class="header-toolbar sidenav-container mat-elevation-z2">
  
  <mat-toolbar-row>
    <!-- <mat-icon>home</mat-icon> Menú -->
    <!-- <span class="margen-der">Login</span> -->
    <span class="example-spacer"></span>
  <img src="../../../assets/img/logo.png" class="logo" alt="image caption" />
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>

</mat-toolbar>
