<mat-card>
  <form [formGroup]="grupoForm" (submit)="updateResource(grupoForm)">
    <mat-card-header>
      <mat-card-title class="text-secondary">
        <mat-icon>edit</mat-icon>
        <span class="aligned-with-icon">{{title}}</span>
      </mat-card-title>
      <!-- <mat-card-subtitle>Delegaciones</mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="elemento-margen">
            <input matInput type="text" value="{{updateNo}}" placeholder="No." #id readonly>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="elemento-margen">
            <input matInput type="text" #nombre value={{updateNombre}} placeholder="Nombre" formControlName="nombre">
            <mat-hint align="end">{{nombre.value.length}} / {{ updateNombreMax}}</mat-hint>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('pattern')">
              Contiene <strong>caracteres no permitidos</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('maxlength')">
              Se superó el<strong>máximo de caracteres </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="text-right">
      <button mat-flat-button mat-dialog-close color="basic" class="text-secondary elemento-margen">CANCELAR</button>
      <button mat-flat-button color="basic" type="submit" class="text-success elemento-margen"
        [disabled]="!grupoForm.valid">ACTUALIZAR</button>
    </mat-card-actions>
  </form>
</mat-card>
