<mat-card>
  <form [formGroup]="grupoForm" (submit)="updateResource(grupoForm)">
    <mat-card-header>
      <mat-card-title class="text-secondary">
        <mat-icon>edit</mat-icon>
        <span class="aligned-with-icon">{{title}}</span>
      </mat-card-title>
      <!-- <mat-card-subtitle>Delegaciones</mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="content">
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="elemento-margen">
              <input matInput type="text" value="{{updateNo}}" placeholder="No." #id readonly>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field class="elemento-margen">
              <input matInput type="text" #control value="{{ updateControl }}" placeholder="Control" formControlName="control">
              <mat-hint align="end">{{control.value.length}} / {{ updateControlMax}}</mat-hint>
              <mat-error *ngIf="grupoForm.controls['control'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['control'].hasError('pattern')">
                Contiene <strong>caracteres no permitidos</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['control'].hasError('maxlength')">
                Se superó el<strong>máximo de caracteres </strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="elemento-margen">
              <input matInput #expiracion [value]="" [matDatepickerFilter]="entreSemanaFilter"
                [matDatepicker]="pickerExpiracion" placeholder="Fecha de expiracion" formControlName="expiracion">
              <mat-datepicker-toggle matSuffix [for]="pickerExpiracion"></mat-datepicker-toggle>
              <mat-datepicker #pickerExpiracion></mat-datepicker>
              <mat-hint>mm/dd/yyyy</mat-hint>
              <mat-error *ngIf="grupoForm.controls['expiracion'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field class="elemento-margen">
              <input matInput [ngxTimepicker]="horaNgx" [format]="24" #hora placeholder="Hora de Expiracion"
                formControlName="hora" readonly>
              <ngx-material-timepicker #horaNgx [ngxMaterialTimepickerTheme]="ngxTimepickerTheme">
              </ngx-material-timepicker>
              <mat-hint>24 Hrs.</mat-hint>
              <mat-hint align="end">{{hora.value.length}} / {{ updateExpiracionHoraMax}}</mat-hint>
              <mat-error *ngIf="grupoForm.controls['hora'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['hora'].hasError('pattern')">
                Contiene <strong>formato no permitido</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['hora'].hasError('maxlength')">
                Se superó el<strong>máximo de caracteres </strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <mat-form-field class="elemento-margen example-full-width">
                <mat-select placeholder="Tipo" #tipo [(value)]="updateTipo" required formControlName="tipo">
                  <mat-option *ngFor="let tipo of selectTipos" [value]="tipo.id">
                    {{tipo.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="grupoForm.controls['tipo'].hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="elemento-margen example-full-width">
              <!-- error al poner la variable -->
              <textarea matInput #tema placeholder="Tema" formControlName="tema"></textarea>
              <mat-hint align="end">{{tema.value.length}} / {{ updateTemaMax}}</mat-hint>
              <mat-error *ngIf="grupoForm.controls['tema'].hasError('required')">
                Este campo es <strong>obligatorio</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['tema'].hasError('pattern')">
                Contiene <strong>formato no permitido</strong>
              </mat-error>
              <mat-error *ngIf="grupoForm.controls['tema'].hasError('maxlength')">
                Se superó el<strong>máximo de caracteres </strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="documento" class="texto-documento elemento-margen">Documento.</label>
              <input type="file" class="form-control-file" id="documento" #fileDocument accept=".pdf" (change)="onUpload($event)">
            </div>
          </div>
        </div> -->
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-actions class="text-right">
      <button mat-flat-button mat-dialog-close color="basic" class="text-secondary elemento-margen">CANCELAR</button>
      <button mat-flat-button color="basic" class="text-primary elemento-margen"
        [disabled]="!grupoForm.valid">ADJUNTAR</button>
    </mat-card-actions>
  </form>
</mat-card>
