<mat-card>
  <form [formGroup]="grupoForm" (submit)=createResource()>
    <mat-card-header>
      <mat-card-title class="text-secondary">
        <mat-icon>add</mat-icon>
        <span class="aligned-with-icon">{{title}}</span>
      </mat-card-title>
      <!-- <mat-card-subtitle>Delegaciones</mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="elemento-margen">
            <input matInput type="text" #nombre value="" placeholder="Nombre" formControlName="nombre">
            <mat-hint align="end">{{nombre.value.length}} / {{ updateNombreMax}}</mat-hint>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('pattern')">
              Contiene <strong>caracteres no permitidos</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['nombre'].hasError('maxlength')">
              Se superó el<strong>máximo de caracteres </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="elemento-margen">
            <input matInput type="text" #icono value="" placeholder="Icono" formControlName="icono">
            <mat-hint align="end">{{icono.value.length}} / {{ updateIconoMax}}</mat-hint>
            <mat-error *ngIf="grupoForm.controls['icono'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['icono'].hasError('pattern')">
              Contiene <strong>caracteres no permitidos</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['icono'].hasError('maxlength')">
              Se superó el<strong>máximo de caracteres </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="elemento-margen">
            <input matInput type="text" #color value="" placeholder="Color" formControlName="color">
            <mat-hint align="start"><strong>#CCBBDD</strong> </mat-hint>
            <mat-hint align="end">{{color.value.length}} / {{ updateColorMax}}</mat-hint>
            <mat-error *ngIf="grupoForm.controls['color'].hasError('required')">
              Este campo es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['color'].hasError('pattern')">
              Contiene <strong>caracteres no permitidos</strong>
            </mat-error>
            <mat-error *ngIf="grupoForm.controls['color'].hasError('maxlength')">
              Se superó el<strong>máximo de caracteres </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <button mat-flat-button mat-dialog-close color="basic" class="text-secondary elemento-margen">CANCELAR</button>
        <button mat-flat-button color="basic" class="text-primary elemento-margen">GUARDAR</button> -->
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="text-right">
      <button mat-flat-button mat-dialog-close color="basic" class="text-secondary elemento-margen">CANCELAR</button>
      <button mat-flat-button color="basic" class="text-primary elemento-margen"
        [disabled]="!grupoForm.valid">GUARDAR</button>
    </mat-card-actions>
  </form>
</mat-card>
