.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .app-spacer {
    flex: 1 1 auto;
  }
  
  .margen-mensaje {
    margin-top: em;
  }
  
  .aligned-with-icon {
    position: absolute;
    padding-bottom: 2.5em;
    margin-left: 0.5em;
  }
  
  .elemento-margen {
    margin-top: 0.8em;
  }
  
  .texto-documento{
    color: rgb(134, 134, 134);
    font-size: 0.85em;
    /* font-style: italic; */
  }