<mat-form-field>
  <mat-icon matPrefix>search</mat-icon>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>


<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort aria-label="Elements" matSortActive="id"
    matSortDirection="desc">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!--Description Column -->
    <!-- <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container> -->

    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inicio</th>
      <td mat-cell *matCellDef="let row">{{row.start | date: 'dd/MM/yyyy HH:mm'}}</td>
    </ng-container>

    <!-- End Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Final</th>
      <td mat-cell *matCellDef="let row">{{row.end | date: 'dd/MM/yyyy HH:mm'}}</td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
      <td mat-cell *matCellDef="let row">{{ getDiference(row.start,row.end) }}</td>
    </ng-container>

    <!-- StartIn Column -->
    <ng-container matColumnDef="startIn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inicia</th>
      <td mat-cell *matCellDef="let row">{{ getDiferenceNow(row.start) }}</td>
    </ng-container>

    <!-- Preference_id Column -->
    <!-- <ng-container matColumnDef="preference_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PreferenciaId</th>
      <td mat-cell *matCellDef="let row">{{row.preference_id}}</td>
    </ng-container> -->

    <!-- Preference_name Column -->
    <ng-container matColumnDef="preference_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferencia</th>
      <td mat-cell *matCellDef="let row">{{row.preference_name}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>

        <div class="app-button-row" class="text-right">
          <button mat-mini-fab color="warn" class="espacio-boton" (click)="openDialogAdd()">
            <mat-icon color="basic">add</mat-icon>
          </button>
        </div>

      </th>
      <td mat-cell *matCellDef="let element">

        <div class="app-button-row">
          <!-- Menu -->
          <mat-menu #appMenuDelegation="matMenu">
            <button mat-menu-item (click)="openDialogUpdate(element)">
              <mat-icon>edit</mat-icon>
              <span>Actualizar</span>
            </button>
            <button mat-menu-item (click)="openDialogDelete(element)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="appMenuDelegation">
            <mat-icon class="text-secondary">more_vert</mat-icon>
          </button>
          <!-- End Menu -->
        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="  displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item efect-hover">
                    <span class="font-weight-bold">
                      <mat-icon class="text-secondary">comment</mat-icon>
                      Contacto: {{element.user_name }} ( {{element.office_name}} )
                    </span>
                    <p class="font-weight-light">{{element.description}}</p>
                    <p class="font-weight-light">Creado el: {{element.created_at | date: 'dd/MM/yyyy HH:mm'}}</p>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- <div class="example-element-description"> Aqui se pone la descripción
            {{element.preference_id}}

          </div> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="  displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns:   displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (dblclick)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</div>
